ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav {
  float: left;
}

#nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav a:hover {
  background-color: #111;
}
#header {
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(95, 158, 160);
  text-align: center;
}
 body {
      background-image: url('backdrop1.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }